NODE_ENV="development"
PORT="6000"
DATABASE_URL="postgresql://username:password@localhost:5432/dbname"
ARGON2_PEPPER=""
ACCESS_TOKEN_JWT_PUBLIC_KEY=""
ACCESS_TOKEN_JWT_PRIVATE_KEY=""
REFRESH_TOKEN_JWT_PUBLIC_KEY=""
REFRESH_TOKEN_JWT_PRIVATE_KEY=""